@model IEnumerable<Garage_Management.DTO.GarageVisitDTO>

@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http
@{
    int userid = Convert.ToInt32(Context.Request.Query["userid"]);
    int? id = Convert.ToInt32(Context.Request.Query["id"]);
}

<h1>Index</h1>
@if (!string.IsNullOrEmpty(ViewBag.ifCanEdit))
{
    @if (ViewBag.ifCanEdit)
    {
        <p>
            <a asp-action="Create" asp-route-userid="@userid" asp-route-id="@id">Create New</a>
        </p>
    }
}else
{
  @if (userid == 0 )
{
    <p>
        <a asp-action="Create" asp-route-userid="@userid">Create New</a>
    </p>
}  
}



<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarageName)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(ViewBag.ifCanEdit))
                    {
                      @if (ViewBag.ifCanEdit )
                    {
                        <a asp-action="Edit" asp-route-userid="@userid" asp-route-id="@item.VisitId">Edit</a>
                        <p></p>
                        <a asp-action="Delete" asp-route-userid="@userid" asp-route-id="@item.VisitId">Delete</a>
                        <p></p>
                    }

                    @if (ViewBag.ifCanView )
                    {
                        <a asp-action="Details" asp-route-userid="@userid" asp-route-id="@item.VisitId">Details</a>
                        }
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-userid="@userid" asp-route-id="@item.VisitId">Edit</a>
                        <p></p>
                        <a asp-action="Delete" asp-route-userid="@userid" asp-route-id="@item.VisitId">Delete</a>
                        <p></p>
                        <a asp-action="Details" asp-route-userid="@userid" asp-route-id="@item.VisitId">Details</a>
                    }

                </td>
          
        </tr>
}
    </tbody>
</table>
