@model IEnumerable<Garage_Management.Models.GarageVisit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garage.GarageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
