@model IEnumerable<Garage_Management.DTO.UserDTO>
@{
    ViewData["Title"] = "Permissions";
}
@using Microsoft.AspNetCore.Http
@{
    int userid = Convert.ToInt32(Context.Request.Query["userid"]);
    int? id = Convert.ToInt32(Context.Request.Query["id"]);
}

<div class="text-center">
    <h1>Permissions</h1>

    <div>

        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>

                        <td>
                            <a asp-controller="Permissions" asp-action="Index" asp-route-userid="@userid" asp-route-id="@item.UserId">Customer Permissions</a>
                            <p></p>
                            
                                <a asp-controller="GaragePermissions" asp-action="Index" asp-route-userid="@userid" asp-route-id="@item.UserId">Garage Permissions</a>
                             </td>
                    </tr>
                }
            </tbody>
        </table>

        @* <table class="table">
        <thead>
        <tr>
        <th>
        @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
        <tr>

        <td>
        @Html.DisplayFor(modelItem => item.UserName)
        </td>

        <td>


        @if (userid == 0)
        {
        <a asp-action="Edit" asp-route-userid="@userid" asp-route-id="@item.UserId">Edit</a>
        }
        </td>
        </tr>
        }
        </tbody>
        </table> *@
    </div>
</div>